.metal-main {

    h1 {
        color: #742ECD;
        padding-top: 35px;
        text-align: center;
    }
}

.metal-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}