*{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.gem-cards{
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 150px;
  border: 2px solid gainsboro;
  border-radius: 15px;
  margin: 5px;
}

.gem-cards:hover{
border: 5px solid black;
margin: 2px;

}

img{
  width: 100px;
  height: 75px;
}

h1, h2 {
  text-align: center;
}