*{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url('./images/sky.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  text-align: center;

  input {
    margin: 15px 10px;
    height: 2.4em;
    width: 15em;
    border-radius: 1em;
    outline: none;
  }

    .search-text {
      font-family: $appfont;
      font-size: 1.1em;
    }

  ::-webkit-input-placeholder {
   text-align: center;
}

  select {
    margin-bottom: 15px;
  }

  button {
    cursor: pointer;
  }

  span {
    margin-right: 10px;
  }
}

.gem-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-button {
  @include submit-buttons($lavender);
}

.search-button:hover {
background-color: #A572F3;
}

.container {
  .color-dropdown {
    margin-top: 15px;
  }
}


