.search-button {
  @include submit-buttons($lavender);
}

.search-button:hover {
background-color: #A572F3;
}

.container {
  text-align: center;

  input {
    margin: 15px 10px;
    height: 2.4em;
    width: 15em;
    border-radius: 1em;
    outline: none;
  }

    .search-text {
      font-family: $appfont;
      font-size: 30px;
    }

  ::-webkit-input-placeholder {
   text-align: center;
}

  select {
    font-size: 16px;
    margin-bottom: 15px;
  }

  button {
    cursor: pointer;
    font-size: 15px;
  }

  span {
    margin-right: 10px;
  }
}

.color-dropdown {
  margin-top: 15px;
}

.gem-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
