    h2 {
        font-family: $appfont;
        letter-spacing: 2px;
        font-size: 1.8em;
        text-align: center;
    }

    p {
        font-size: 1.2em;
        padding: 0 182px 3px;
        letter-spacing: 2px;
    }

    .greeting-para {
        margin-bottom: 15px;
    }