    h2 {
        font-family: $appfont;
        letter-spacing: 2px;
        font-size: 1.8em;
        padding: 13px 130px 12px;
    }

    p {
        font-size: 1.2em;
        padding: 0 182px 3px;
        font-family: $paragraphfont;
        letter-spacing: 2px;
        font-weight: bolder;
    }