  .Greeting { 
    h2 {
        font-family: $appfont;
        font-size: 1.8em;
        letter-spacing: 2px;
        padding: 13px 130px 12px;
    }

    p {
        font-size: 1.2em;
        letter-spacing: 2px;
        margin-bottom: 15px;
        padding: 0 182px 3px;
    }
  }