.header-container {
    .header-title {
        background-color: $aqua;

        color: black;
        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        letter-spacing: 2px;
        padding: 12px 0;
        text-align: center;

    }
}