.results-container {
  text-align: left;
  background-color: rgba(211, 211, 211, 0.7);
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  "header header"
                        "img gem"
                        "metal metal";
}

.results-img {
  border-radius: 15px;
  border: solid white 3px;
  grid-area: img;
  height: 280px;
  width: 500px;
}

.results-header {
  grid-area: header;
  text-align: center;
  font-family: $appfont;
  font-size: 2em;
  padding-bottom: 30px;
}

.gem-results {
  grid-area: gem;
  font-size: 15px;
  padding-left: 20px;
}

.metal-results {
  grid-area: metal;
  padding-left: 20px;
  margin-top: 20px;


}

.results-img-area{
  grid-area: img;
}

.gem-results p{
  padding: 20px;
}

.metal-results p{
  padding: 20px;
  margin-left: 0px;
}

h2{
  text-decoration: underline;
  text-align: left;
  display: block;
  padding-left: 0px;
}

ul{
  text-align: left;
  padding-left: 20px;
  width: 100%;
}