.results-container {
  text-align: left;
  background-color: rgba(211, 211, 211, 0.7);
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:  "header header "
                        "img gem"
                        "metal metal";
  padding: 20px 100px;
  h2 {
    font-family: $appfont;
  }
}

.results-header {
  font-family: $appfont;
  font-size: 2em;
  grid-area: header;
  padding-bottom: 30px;
  text-align: center;
}

.results-img {
  border-radius: 15px;
  border: solid white 3px;
  grid-area: img;
  height: 280px;
  width: 500px;
  margin-left: 20px;
}

.gem-results, {
  grid-area: gem;
    h2, ul {
      padding-left: 20px;
      text-align: left;
      width: 100%;
    }
}

.metal-results {
  grid-area: metal;
    h2, ul {
      padding-left: 20px;
      text-align: left;
      width: 100%;
    }
  padding-left: 20px;
  margin-top: 20px;
}

.results-img-area{
  grid-area: img;
}

.gem-results p{
  padding: 20px;
}

.metal-results p{
  padding: 20px;
  margin-left: 0px;
}

h2{
  text-decoration: underline;
  text-align: left;
  display: block;
  padding-left: 0px;
}

ul{
  text-align: left;
  padding-left: 20px;
  width: 100%;
}