$lavender: #eb8bff;
$aqua: rgba(4, 216, 227, .7%);
$appfont: 'Amatic SC', cursive;

@mixin submit-buttons($btnColor) {
    -moz-box-shadow: 0px 10px 14px -7px $btnColor;
	-webkit-box-shadow: 0px 10px 14px -7px $btnColor;
	box-shadow: 0px 10px 14px -7px $btnColor;
	background-color: $btnColor;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color: #fff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    outline: none;
}